{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Facturalia</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/estilos.css" %}">
    </head>
    <body>
        <header>
            <nav>
                <img id="logo" src="{% static "imagenes/aguila.jpg" %}" alt="Aguila" height="50">
                <nav class= 'titulo'>
                    <h1>PROVEEDORA DEL SUR</h1>
                    <h4>FACTURALIA - Sistema de gestión de productos y Facturación</h3>
                </nav>
            <nav>
        </header>
        <section>
            {% block titulo %}
            {% endblock%}
            <nav id='menu01'>
                <ul>
                    <li><a href="..">Inicio</a></li>
                    <li><a href="../contactos">Contactos</a></li>
                    <li><a href="../productos">Productos</a></li>
                    
                </ul>
            </nav>

            <nav class = 'mostrar'>
                {% block contenido %}
                {% endblock%}
            </nav>
        </section>

    </body>
</html>
